In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Read tables from PDF
import tabula

## EDA for KCSC Financial Statements v7.1a (AL Only)

In [2]:
file = '../data/KCSC Financial Statements v7.1a (AL Only).pdf'

In [79]:
tables = tabula.read_pdf(file, pages = "all", multiple_tables = False, pandas_options={'header': 1})

In [6]:
# Convert all the PDFs into csv
# tabula.convert_into_by_batch('../data/', output_format = "csv", pages = "all")

In [150]:
df = tables[0].set_index('Unnamed: 0').dropna(how='all').T.dropna(how='all')

In [151]:
df = df.iloc[2:, :]

In [152]:
df = df[df.columns[~df.columns.isna()]].dropna(axis=1, how='all')

In [153]:
cols = [True] * len(df.columns)
for i, col in enumerate(df.columns):
    df[col] = df[col].str.replace('$', '', regex=False)
    df[col] = df[col].str.replace(',', '', regex=False)
    df[col] = df[col].str.replace('-', '', regex=False)
    df[col] = df[col].str.replace('%', '', regex=False)

In [157]:
df = df.replace(r'^\s*$', np.nan, regex=True).dropna(axis=1, how='all')

In [158]:
for col in df.columns:
    df[col] = df[col].astype('float')

In [160]:
df

Unnamed: 0,Assisted Living - Funded,Funded Bed Rent,Total Gross Rent,Funded Bed Occupancy,Gross Rent Less Vacancy,Income from Ancillary Services,Total Income,Food and Consumables,"Payroll expenses (including taxes, benefits)",Business licensing,...,Traning/development,Management Fee,Amortization (building),Amortization (furniture + equipment),Utilities,Garbage/Snow removal,Total Operating Expenses,Net Operating Income,Less: Income taxes,After tax income
JAN,440000.0,440000.0,440000.0,100.0,440000.0,2400.0,442400.0,22320.0,95642.0,25.0,...,800.0,24120.0,24583.0,NaN,1500.0,100.0,173515.0,268885.0,NaN,NaN
FEB,440000.0,440000.0,440000.0,100.0,440000.0,2400.0,442400.0,22320.0,95642.0,25.0,...,800.0,24120.0,24583.0,NaN,1500.0,100.0,173515.0,268885.0,NaN,NaN
MAR,440000.0,440000.0,440000.0,100.0,440000.0,2400.0,442400.0,22320.0,95642.0,25.0,...,800.0,24120.0,24583.0,NaN,1500.0,100.0,173515.0,268885.0,NaN,NaN
APR,440000.0,440000.0,440000.0,100.0,440000.0,2400.0,442400.0,22320.0,95642.0,25.0,...,800.0,24120.0,24583.0,NaN,1500.0,100.0,173515.0,268885.0,NaN,NaN
MAY,440000.0,440000.0,440000.0,100.0,440000.0,2400.0,442400.0,22320.0,95642.0,25.0,...,800.0,24120.0,24583.0,NaN,1500.0,100.0,173515.0,268885.0,NaN,NaN
JUN,440000.0,440000.0,440000.0,100.0,440000.0,2400.0,442400.0,22320.0,95642.0,25.0,...,800.0,24120.0,24583.0,NaN,1500.0,100.0,173515.0,268885.0,NaN,NaN
JUL,440000.0,440000.0,440000.0,100.0,440000.0,2400.0,442400.0,22320.0,95642.0,25.0,...,800.0,24120.0,24583.0,NaN,1500.0,100.0,173515.0,268885.0,NaN,NaN
AUG,440000.0,440000.0,440000.0,100.0,440000.0,2400.0,442400.0,22320.0,95642.0,25.0,...,800.0,24120.0,24583.0,NaN,1500.0,100.0,173515.0,268885.0,NaN,NaN
SEP,440000.0,440000.0,440000.0,100.0,440000.0,2400.0,442400.0,22320.0,95642.0,25.0,...,800.0,24120.0,24583.0,NaN,1500.0,100.0,173515.0,268885.0,NaN,NaN
OCT,440000.0,440000.0,440000.0,100.0,440000.0,2400.0,442400.0,22320.0,95642.0,25.0,...,800.0,24120.0,24583.0,NaN,1500.0,100.0,173515.0,268885.0,NaN,NaN
NOV,440000.0,440000.0,440000.0,100.0,440000.0,2400.0,442400.0,22320.0,95642.0,25.0,...,800.0,24120.0,24583.0,NaN,1500.0,100.0,173515.0,268885.0,NaN,NaN
DEC,440000.0,440000.0,440000.0,100.0,440000.0,2400.0,442400.0,22320.0,95642.0,25.0,...,800.0,24120.0,24583.0,NaN,1500.0,100.0,173515.0,268885.0,NaN,NaN
Year 1,5280000.0,5280000.0,5280000.0,100.0,5280000.0,28800.0,5308800.0,267840.0,1147700.0,300.0,...,9600.0,289440.0,295000.0,35000.0,18000.0,1200.0,2532849.0,2775951.0,305355.0,2470596.0